{% extends 'base.html.twig' %}
{% block body %}

<div class="card m-2" style="width: 18rem;">

    <div class="card-body">
    
      <h5 class="card-title">ID {{details.id}}</h5>
      <img src= {{details.photo}} class="card-img-top" alt="...">
      <p>Titre: {{details.titre}}</p>
      <p>Marque: {{details.marque}}</p>
      <p>Modele: {{details.modele}}</p>
      <p>Description: {{details.description}}</p>
      <p>Prix: {{details.prixJournalier}}</p>
      {# <p>Statut: {{details.statut}}</p>
      <p>Date: {{details.DateEnregistrement | date('d-m-Y') }}</p> #}
    </div>
  </div>

  {% endblock %}